@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato:wght@400;700&display=swap");

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Overall */

.App {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#root {
  height: 100%;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  background-image: url("././assets/background-image.jpg");
  animation: backgroundAnimation 100s linear infinite;
  height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.tightWrapper {
  max-width: 900px;
  width: 75%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  list-style: none;
}

h1,
h2,
h4 {
  font-family: "Caveat Brush", cursive;
  text-transform: capitalize;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

a,
p {
  font-size: 1.5rem;
}

.flexContainer {
  display: flex;
}

label {
  cursor: pointer;
}

/* Header Styles */

header {
  font-family: "Caveat Brush", cursive;
  text-transform: capitalize;
  min-height: calc(90vh - 400px);
}

.gameButton {
  background-color: #07c3c7;
  padding: 20px 30px;
  width: 250px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 1px solid #07c3c7;
  font-size: 2rem;
  transition: 0.3s;
  cursor: pointer;
  animation: glow 1s infinite;
  transition: 0.5s;
}

.gameButton:hover,
.gameButton:focus {
  -webkit-text-stroke-color: rgb(252, 241, 82);
  border: 1px solid rgb(252, 241, 82);
}

.headerContainer {
  min-height: calc(90vh - 400px);
  background-color: rgb(129, 58, 170);
  padding: 100px;
  margin-top: 200px;
  margin-bottom: 200px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.fa-volume-high,
.fa-volume-xmark {
  font-size: 1.5rem;
  position: absolute;
  cursor: pointer;
}

.fa-volume-xmark {
  bottom: 20px;
  right: 20px;
}

.fa-volume-high {
  bottom: 20px;
  right: 17px;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

/* Current Game Styles */

.currentGameContainer {
  padding: 60px 80px;
  background: #813aaa;
  min-height: calc(90vh - 125px);
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  margin-bottom: 75px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.categoryTitle {
  font-size: 1.5rem;
  border-bottom: 2px solid white;
  margin-bottom: 25px;
  text-align: center;
}

fieldset {
  border: 0;
}

.currentGameContainer legend {
  font-family: "Caveat Brush", cursive;
  font-size: 2.2rem;
  padding-bottom: 30px;
  text-align: center;
}

.currentGameContainer label {
  font-size: 1.1rem;
  padding: 15px;
}

.answerContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.answer {
  color: black;
  padding: 20px 10px;
  width: 50%;
  text-align: center;
}

.answer label {
  background: #07c3c7;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  border-radius: 15px;
  transition: 0.3s;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  opacity: 0.01;
}

label.answerChecked {
  background: #e6c81c;
}

label.answerNotChecked {
  background: #07c3c7;
}

.answer label:hover,
.answer label:focus {
  background: #e6c81c;
}

.currentLoadingContainer {
  background-color: #07c3c7;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currentLoadingContainer p {
  color: black;
}

.currentGameButton {
  font-family: "Caveat Brush", cursive;
  color: white;
  letter-spacing: 2px;
  background-color: #e986b8;
  border: 1px solid transparent;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  padding: 10px 15px;
  width: 250px;
  text-align: center;
  border-radius: 15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1.4rem;
  transition: 0.3s;
  margin-top: 50px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}

.exitModal.currentGameButton {
  border: 1px solid transparent;
}

.currentGameButton:hover,
.currentGameButton:focus {
  -webkit-text-stroke-color: #813aaa;
  border: 1px solid #813aaa;
  background: #e6c81c;
}

/* EndOfGame Styles */

.endContainer {
  font-family: 'Caveat Brush', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endContainer p {
  font-size: 3rem;
  text-align: center;;
}

.endText {
  text-align: center;
}

.endText p{
  margin-top: 30px;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* Modal Styles */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: center;
}

.modalContainer {
  min-width: 50vw;
  max-width: 90vw;
  min-height: 50vh;
  background-color: #ebd8f7;
  position: relative;
  z-index: 30;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  padding: 50px;
  border-radius: 15px;
  border: 1px solid rgba(84, 81, 81, 0.8);
}

.modalGray {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}

.modal h3 {
  color: #813aaa;
  margin: 20px 0;
  text-align: center;
}

.modalText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.yourAnswerParagraph {
  margin: 20px 0;
}

.yourAnswer {
  color: rgb(84, 81, 81);
}

.modal p {
  font-family: "Lato", sans-serif;
  color: black;
}

.correctAnswer {
  color: green;
  margin-right: 10px;
}

.circle,
.circleBorder {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.circle {
  z-index: 1;
  position: relative;
  background: #ebd8f7;
  transform: scale(1);
  animation: successAnimation 700ms ease;
}

.circleBorder {
  z-index: 0;
  position: absolute;
  transform: scale(1.1);
  animation: circleAnimation 400ms ease;
  background: red;
}

.error::before,
.error::after {
  content: "";
  display: block;
  height: 4px;
  background: red;
  position: absolute;
}

.error::before {
  width: 40px;
  top: 48%;
  left: 16%;
  transform: rotateZ(50deg);
}

.error::after {
  width: 40px;
  top: 48%;
  left: 16%;
  transform: rotateZ(-50deg);
}

.modal button {
  background-color: #813aaa;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
}

/* game form */

.formSection {
  position: relative;
  background: #813aaa;
  border-radius: 15px;
  box-shadow: 0 3px 10px #4c4a4e;
  margin: 50px auto;
  min-height: calc(90vh - 100px);
  padding: 60px 80px;
}

.formSection h2 {
  margin-bottom: 50px;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
}

.fa-arrow-left {
  font-size: 3rem;
  position: absolute;
  bottom: 40px;
}

.gameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  gap: 20px;
}

.inputForm,
.selectCategory {
  background: #07c3c7;
  border-radius: 15px;
  display: inline-block;
  transition: 0.3s;
  width: 75%;
  font-family: Lato, sans-serif;
  border: none;
  margin-top: 30px;
  padding: 25px;
}

.selectCategory {
  width: 100%;
  -webkit-appearance: none;
}

.arrowContainer {
  position: relative;
  width: 75%;
}

.fa-caret-down {
  font-size: 1.7rem;
  position: absolute;
  right: 15px;
  top: 50%;
}

.inputForm:focus,
.numOfQuestions:focus {
  outline: none;
}

.selectNumber {
  text-align: center;
  margin-right: 15px;
  font-size: 1.1rem;
}

.numberOfQuestionContainer {
  margin-top: 30px;
}

.numOfQuestions {
  background: #07c3c7;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 15px 15px;
  border-radius: 15px;
  border: none;
}

.submitGame {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  background-color: #e986b8;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-family: Caveat Brush, cursive;
  letter-spacing: 2px;
  margin-top: 30px;
  padding: 10px 15px;
  text-align: center;
  transition: 0.3s;
  width: 150px;
  height: 150px;
  margin: 30px auto;
  /* shadow animation below */
  animation: glow 1s infinite;
  transition: 0.5s;
}

.submitGame:hover {
  transform: translateX(-30px) rotate(40deg);
  border-radius: 5px;
  transition: 0.5s;
  border-radius: 15px;
}

.submitGame span {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  padding-top: 15%;
  padding-right: 2.5%;
  margin-right: 0px;
  font-size: 2rem;
  transition: 0.3s;
}

.submitGame span:hover {
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
}

/* Saved Games Styles */

.savedGamesContainer {
  background-color: #813aaa;
  border-radius: 15px;
}

.savedGames {
  text-align: center;
}

.savedGames h2,
.savedGames h3 {
  color: black;
  font-weight: lighter;
}

.savedGames h2 {
  color: white;
  font-size: 4rem;
  margin-top: 40px;
  padding-top: 20px;
}

.savedGames h3 {
  font-size: 1.8rem;
  padding-bottom: 40px;
  color: white;
  margin-top: 5px;
}

.savedGamesList {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.cassette {
  margin: 30px;
  width: 500px;
  position: relative;
}

.cassetteDiv {
  min-height: 250px;
  background-image: url(./assets/rsz_casette.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.madeBy {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 65px;
  z-index: 20;
}

p.madeBy {
  font-size: 1rem;
  color: black;
  text-decoration: underline;
  font-family: 'Caveat Brush', cursive;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.linkToGame {
  position: absolute;
  max-height: 100%;
  right: 0;
  left: 0;
  top: 20px;
  z-index: 10;
}

.linkToGame a {
  min-height: 200px;
}

.cassetteText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cassetteText h4,
.cassetteText p {
  color: black;
  font-size: 1rem;
  text-decoration: underline;
}

.cassetteText h4 {
  text-align: center;
  font-weight: lighter;
  display: block;
  max-width: 30%;
}

.cassetteText p {
  font-family: 'Caveat Brush', cursive;
  text-transform: capitalize;
  letter-spacing: 3px;
}

/* Error Page Styles */

.errorSection {
  min-height: 90vh;
}

.errorContainer {
  background-color:rgb(129, 58, 170);
  margin-top: 150px;
  margin-bottom: 200px;
  border-radius: 15px;
  padding: 100px;
  text-align: center;
}

.errorContainer h2 {
  margin-bottom: 30px;
}

/* Footer Styles */

footer {
  background-color: #813aaa;
  font-family: "Caveat Brush", cursive;
  text-transform: capitalize;
  min-height: 10vh;
  text-align: center;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  border: 1px solid black;
  display: flex;
  align-items: center;
}

footer a {
  display: inline;
}

/* Animations */

@keyframes successAnimation {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes circleAnimation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 150%;
  }
}

@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }

  50% {
    box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210);
  }

  100% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }
}

@keyframes ldsRoller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Loader Styles */

.ldsRoller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRoller div {
  animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.ldsRoller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #813AAA;
  margin: -4px 0 0 -4px;
}
.ldsRoller div:nth-child(1) {
  animation-delay: -0.036s;
}
.ldsRoller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.ldsRoller div:nth-child(2) {
  animation-delay: -0.072s;
}
.ldsRoller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.ldsRoller div:nth-child(3) {
  animation-delay: -0.108s;
}
.ldsRoller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.ldsRoller div:nth-child(4) {
  animation-delay: -0.144s;
}
.ldsRoller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.ldsRoller div:nth-child(5) {
  animation-delay: -0.18s;
}
.ldsRoller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.ldsRoller div:nth-child(6) {
  animation-delay: -0.216s;
}
.ldsRoller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.ldsRoller div:nth-child(7) {
  animation-delay: -0.252s;
}
.ldsRoller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.ldsRoller div:nth-child(8) {
  animation-delay: -0.288s;
}
.ldsRoller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

/* Media Queries */

@media (max-width: 940px) {

  /* Header */

  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }

  .gameButton {
    margin-bottom: 25px;
  }

  /* New Game */

  .gameForm {
    width: 100%;
  }
}

@media (max-width: 768px) {
    
/* Overall */

  .wrapper {
    width: 90%;
  }

/* Header */
  .headerContainer {
    padding: 100px 50px;
  }

/* New Game */

  .formSection {
    padding: 60px 30px;
  }

  .selectNumber {
    margin-bottom: 15px;
  }

/* Saved Games */

  .savedGames h3 {
    font-size: 1.4rem;
  }

  .tightWrapper {
    width: 90%;
  }

  .numberOfQuestionContainer {
    display: flex;
    flex-direction: column;
  }

  .selectNumber {
    margin-right: 0px;
  }

  .cassetteDiv {
    min-height: 200px;
  }

  .linkToGame a {
    min-height: 120px;
  }

  .madeBy {
    bottom: 50px;
  }

  p.madeBy {
    font-size: 0.8rem;
  }

  .cassetteText h4,
  .cassetteText p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {

  /* Header */

    .headerContainer {
      padding: 100px 25px;
    }

    .headerContainer h1 {
      font-size: 3.3rem;
    }

    .gameButton {
      font-size: 1.8rem;
    }

  /* New Games */ 

  .formSection {
    padding: 60px 20px;
  }

  .arrowContainer,
  .selectCategory,
  .inputForm {
    width: 100%;
  }

  /* Saved Games */

  .cassette {
    margin: 0;
    width: 300px;
    position: relative;
  }

  .cassetteText h4 {
    max-width: 90%;
    margin-top: 3px;
  }

  p.madeBy {
    bottom: 60px;
  }

}



