@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato:wght@400;700&display=swap");

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Overall */

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  background-image: url("background-image.jpg");
  animation: background-animation 120s linear infinite;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.tightWrapper {
  max-width: 900px;
  width: 75%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  list-style: none;
}

h1,
h2,
h4 {
  font-family: "Caveat Brush", cursive;
  text-transform: capitalize;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

a,
p {
  font-size: 1.5rem;
}

.flexContainer {
  display: flex;
}

/* Header Styles */

header {
  font-family: "Caveat Brush", cursive;
  text-transform: capitalize;
  min-height: calc(90vh - 100px);
}

.gameButton {
  background-color: #07c3c7;
  padding: 20px 30px;
  width: 250px;
  text-align: center;
  border-radius: 15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 1px solid #813aaa;
  font-size: 2rem;
  border: 1px solid black;
  transition: 0.3s;
  cursor: pointer;
}

.gameButton:hover,
.gameButton:focus {
  -webkit-text-stroke-color: rgb(252, 241, 82);
  border: 1px solid rgb(252, 241, 82);
}

.headerContainer {
  background-color: rgb(129, 58, 170);
  padding: 100px;
  margin-top: 100px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  border: 1px solid black;
  position: relative;
  z-index: 10;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.rectangle {
  position: absolute;
  width: 200px;
  height: 100px;
  border: 5px solid #2b989c;
  top: 8px;
  left: 25%;
  transform: rotate(150deg);
}

/* Current Game Styles */

.currentGameContainer {
  margin: 50px auto;
  padding: 60px 80px;
  background: #813aaa;
  min-height: calc(90vh - 100px);
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  border: 1px solid black;
}

fieldset {
  border: 0;
}

.currentGameContainer legend {
  font-family: "Caveat Brush", cursive;
  font-size: 2.2rem;
  padding-bottom: 30px;
  text-align: center;
}

.currentGameContainer label {
  font-size: 1.1rem;
  padding: 15px;
}

.answerContainer {
  display: flex;
  flex-wrap: wrap;
}

.answer {
  color: black;
  padding: 20px 10px;
  width: 50%;
  text-align: center;
}

.answer label {
  background: #07c3c7;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  border-radius: 15px;
  transition: 0.3s;
  width: 100%;
  display: inline-block;
}

input[type="radio"] {
  opacity: 0.01;
}

.answer input:checked + label {
  background: #e6c81c;
  border-radius: 15px;
}

.answer label:hover,
.answer label:focus {
  /* .answer label:active { */
  background: #e6c81c;
}

.currentGameButton {
  font-family: "Caveat Brush", cursive;
  color: white;
  letter-spacing: 2px;
  background-color: #e986b8;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  padding: 10px 15px;
  width: 250px;
  text-align: center;
  border-radius: 15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 1px solid #813aaa;
  font-size: 1.4rem;
  transition: 0.3s;
  margin-top: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.currentGameButton:hover,
.currentGameButton:focus {
  -webkit-text-stroke-color: #813aaa;
  border: 1px solid #813aaa;
  background: #e6c81c;
}

/* Modal Styles */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.modal-container {
  min-width: 50vw;
  max-width: 90vw;
  min-height: 50vh;
  background-color: #ebd8f7;
  position: relative;
  z-index: 20;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  padding: 50px;
  border-radius: 15px;
  border: 1px solid rgba(84, 81, 81, 0.8);
}

.modalGray {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal h3 {
  color: #813aaa;
  margin: 20px 0;
  text-align: center;
}

.modal-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.your-answer-paragraph {
  margin: 20px 0;
}

.your-answer {
  color: rgb(84, 81, 81);
}

.modal p {
  font-family: "Lato", sans-serif;
  color: black;
}

.correct-answer {
  color: green;
  margin-right: 10px;
}

.circle,
.circle-border {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.circle {
  z-index: 1;
  position: relative;
  background: #ebd8f7;
  transform: scale(1);
  animation: success-animation 700ms ease;
}

.circle-border {
  z-index: 0;
  position: absolute;
  transform: scale(1.1);
  animation: circle-animation 400ms ease;
  background: red;
}

.error::before,
.error::after {
  content: "";
  display: block;
  height: 4px;
  background: red;
  position: absolute;
}

.error::before {
  width: 40px;
  top: 48%;
  left: 16%;
  transform: rotateZ(50deg);
}

.error::after {
  width: 40px;
  top: 48%;
  left: 16%;
  transform: rotateZ(-50deg);
}

.modal button {
  background-color: #813aaa;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
}

/* game form */

.formSection {
  position: relative;
  background: #813aaa;
  /* border: 1px solid #000; */
  border-radius: 15px;
  box-shadow: 0 3px 10px #4c4a4e;
  margin: 50px auto;
  min-height: calc(90vh - 100px);
  padding: 60px 80px;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
}

.fa-arrow-left {
  font-size: 3rem;
  position: absolute;
  bottom: 40px;
}

.gameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  gap: 20px;
}

.inputForm,
.selectCategory {
  background: #07c3c7;
  border-radius: 15px;
  display: inline-block;
  transition: 0.3s;
  width: 75%;
  font-family: Lato, sans-serif;
  font-weight: 900;
  border: none;
  margin-left: 10px;
  margin-top: 30px;
  padding: 15px;
  box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210);
}
.inputForm:focus,
.numOfQuestions:focus {
  outline: none;
}

.selectNumber {
  text-align: center;
  margin-top: 30px;
  font-size: 1.3rem;
}

.numOfQuestions {
  background: #07c3c7;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210);
}

.submitGame {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  background-color: #e986b8;
  /* border: 1px solid #813aaa; */
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-family: Caveat Brush, cursive;
  /* font-size: 2rem; */
  letter-spacing: 2px;
  margin-top: 30px;
  padding: 10px 15px;
  text-align: center;
  transition: 0.3s;
  width: 150px;
  height: 150px;
  margin: 30px auto;
  /* shadow animation bellow */
  animation: glow 1s infinite;
  transition: 0.5s;
}

@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }

  50% {
    box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210);
  }
  100% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }
}

.submitGame:hover {
  transform: translateX(-30px) rotate(40deg);
  border-radius: 5px;
  transition: 0.5s;
  border-radius: 15px;
}

span {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  padding-top: 15%;
  padding-right: 2.5%;
  margin-right: 0px;
  font-size: 2rem;
  transition: 0.3s;
  opacity: 0.2;
}
span:hover {
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
}

/* Footer Styles */

footer {
  background-color: #813aaa;
  font-family: "Caveat Brush", cursive;
  text-transform: capitalize;
  min-height: 10vh;
  text-align: center;
  box-shadow: 0 3px 10px rgb(76, 74, 78);
  border: 1px solid black;
}

footer p {
  padding-top: 25px;
}

footer a {
  display: inline;
}

/* Animations */

@keyframes success-animation {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes circle-animation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes background-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -125% 75%;
  }
}
/* Saved Games Styles */

.savedGames {
  text-align: center;
}

.savedGames h2,
.savedGames h3 {
  color: black;
  font-weight: lighter;
}

.savedGames h2 {
  font-size: 4rem;
  margin-top: 40px;
}

.savedGames h3 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.savedGamesList {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #e986b8;
  margin-bottom:30px;
}

.cassette {
  margin: 30px;
  min-width: 1000px;
  position: relative;
}

.cassetteDiv {
  min-height: 250px;
  background-image: url(./assets/rsz_casette.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.madeBy {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 65px;
  z-index: 20;
}

p.madeBy {
  font-size: 1rem;
  color: black;
  text-decoration: underline;
  font-family: 'Caveat Brush', cursive;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.linkToGame {
  position: absolute;
  max-height: 100%;
  min-height: 200px;
  right: 0;
  left: 0;
  top: 20px;
  z-index: 10;
}

.linkToGame a {
  min-height: 200px;
}

.cassetteText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cassetteText h4,
.cassetteText p {
  color: black;
  font-size: 1rem;
  text-decoration: underline;
}

.cassetteText h4 {
  text-align: center;
  font-weight: lighter;
  display: block;
  max-width: 30%;
}

.cassetteText p {
  font-family: 'Caveat Brush', cursive;
  text-transform: capitalize;
  letter-spacing: 3px;
}

/* SAVED GAMES MEDIA QUERIES */
@media (max-width: 768px) {
  
  .tightWrapper {
    width: 90%;
  }

}

@media (max-width: 480px) {

  .cassetteDiv {
    min-height: 200px;
  }
  
  .linkToGame a {
    min-height: 120px;
  }

  .madeBy {
    bottom: 50px;
  }

  p.madeBy {
    font-size: 0.8rem;
  }

  .cassetteText h4,
  .cassetteText p {
    font-size: 0.8rem;
  }

}



